<header class="header mt-2">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link mx-1" routerLink="/user/list" routerLinkActive="active">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" routerLink="/user/add" routerLinkActive="active">Добавить пользователя</a>
            </li>
        </ul>
    </div>
</header>
<main class="mt-2">
    <div class="container">
        <div class="spinner-border text-info" role="status" *ngIf="!isLoad">
            <span class="sr-only">Loading...</span>
        </div>
        <div [style.display]="isLoad ? 'block': 'none'"> 
            <router-outlet></router-outlet>
        </div>
    </div>
</main>